TRADING_MODE=PAPER
LIVE_TRADING_FEATURE_FLAG=false
GLOBAL_KILL_SWITCH=false
POSTGRES_CONNECTION=Host=localhost;Port=5432;Database=quantara;Username=quantara;Password=quantara_dev_only
REDIS_CONNECTION=localhost:6379
